.footer-sec{
    text-align: center;
    padding-top: 15px;
}
.linkedIn-btn{
    background-color: black;
    color: white;
    border: none;
    margin-right: 10px;
}
.github-btn{
    background-color: black;
    color: white;
    border: none;
}